<header class="site-header">

  <!--a class="site-title" href="/{{ site.baseurl }}"><img src="/img/bluebirdl.svg" width="40px" height="32x"></img><h3>{{ site.title }}</h3></a-->

    <nav class="site-nav">

      <div class="trigger">
        <!---
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}-->
          <a class="page-link" id="home" href="/">
            <h4>Home</h4>
          </a>
          <a class="page-link" id="about" href="/about">
            <h4>About</h4>
          </a>
          <a class="page-link" id="portfolio" href="/portfolio">
            <h4>Portfolio</h4>
          </a>
          <!--a class="page-link" href="/blog">
            <h4>Blog</h4>
          </a-->
          <a class="page-link" id="contact" href="/contact">
            <h4>Contact</h4>
          </a>

      </div>
    </nav>

</header>
